{#
/**
 * @file Typography!
 * Documenting Typography for Particle.
 *
 * @see https://tailwindcss.com/docs/configuration
 */
#}
{% import "@ws-demo/macros/properties.twig" as properties %}
{% import "@ws-demo/macros/samples.twig" as samples %}

{% embed '@ws-demo/page.twig' with
  {
    "title": "Typography",
    "intro": "The <code>theme.fontFamily</code> section of your <code>tailwind.config.js</code> file allows you to override Tailwind's default fontFamily.",
    "doc_link": "https://tailwindcss.com/docs/configuration"
  } %}
  {% block content %}
    <section class="pl-section">
      <h2 class="pl-h2">Font Family</h2>
      <table class="pl-table">
        <thead>
        <tr>
          <th>
            <div>Class</div>
          </th>
          <th>
            <div>Properties</div>
          </th>
          <th>
            <div>Sample</div>
          </th>
        </tr>
        </thead>
        <tbody>
        {% for name, value in  tailwind.theme.fontFamily %}
          <tr>
            <td class="text-blue-700">.font-{{ name }}</td>
            <td>{{ value|join(" ") }}</td>
            <td><h2 class="font-{{ name }}">Lorem ipsum dolor</h2>
              <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus.</p></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
    <hr class="pl-hr">
    <section class="pl-section">
      {{ properties.table("Font Size", "https://tailwindcss.com/docs/font-size", "Properties", "text", tailwind.theme.fontSize) }}
      {{ samples.display("Samples", "The quick brown fox jumped over the lazy dog.", "text", tailwind.theme.fontSize) }}
    </section>
    <hr class="pl-hr">
    <section class="pl-section">
      {{ properties.table("Font Weight", "https://tailwindcss.com/docs/font-weight", "Properties", "font", tailwind.theme.fontWeight) }}
      {{ samples.display("Samples", "The quick brown fox jumped over the lazy dog.", "font", tailwind.theme.fontWeight) }}
    </section>
    <hr class="pl-hr">
    <section class="pl-section">
      {{ properties.table("Letter Spacing", "https://tailwindcss.com/docs/letter-spacing", "Properties", "tracking", tailwind.theme.letterSpacing) }}
      {{ samples.display("Samples", "The quick brown fox jumped over the lazy dog.", "tracking", tailwind.theme.letterSpacing) }}
    </section>
    <hr class="pl-hr">
    <section class="pl-section">
      {{ properties.table("Line Height", "https://tailwindcss.com/docs/line-height", "Properties", "leading", tailwind.theme.lineHeight) }}
      {{ samples.display("Samples", "At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.", "leading", tailwind.theme.lineHeight) }}
    </section>
  {% endblock %}
{% endembed %}

