{#
/**
 * @file
 * hero
 *
 * See hero.wingsuit.yaml for documentation.
 */
#}
{#
  Internal logic
#}
{% set direction_key = reverse == false ? 'forward' : 'reverse' %}

{#
  Attributes
#}
{% set cell_left_attributes = create_attribute().addClass(pattern_configuration('hero', null, 'classes')['cell_left']) %}
{% set cell_right_attributes = create_attribute().addClass(pattern_configuration('hero', null, 'classes')['cell_left']) %}
{% set gradiant_first_attributes = create_attribute().addClass([
    pattern_configuration('hero', null, 'classes')['gradiant']['base'],
    pattern_configuration('hero', null, 'classes')['gradiant']['first_layer'][direction_key]
  ] | sort | join(' ') | trim ) %}
{% set gradiant_second_attributes = create_attribute().addClass([
    pattern_configuration('hero', null, 'classes')['gradiant']['base'],
    pattern_configuration('hero', null, 'classes')['gradiant']['second_layer'][direction_key]
  ] | sort | join(' ') | trim ) %}
{% set gradiant_third_attributes = create_attribute().addClass([
  pattern_configuration('hero', null, 'classes')['gradiant']['base'],
  pattern_configuration('hero', null, 'classes')['gradiant']['third_layer'][direction_key]
] | sort | join(' ') | trim ) %}
{% set image_attributes = create_attribute().addClass(pattern_configuration('hero', null, 'classes')['image']) %}

{#
  TEMPLATE
#}
<section>
  {% set cell_left %}
    <div {{ cell_left_attributes}}>
      <div {{ gradiant_first_attributes }}></div>
      <div {{ gradiant_second_attributes }}></div>
      <div {{ image_attributes }}>
         {{ image }}
      </div>
      <div {{ gradiant_third_attributes }}></div>
    </div>
  {% endset %}
  {% set cell_right %}
    <div {{ cell_right_attributes}}>
      {{ pattern('rich_snippet', {preheadline: preheadline, headline: headline, text: text, action: action, headline_tag: headline_tag}, 'large' ) }}
    </div>
  {% endset %}
  {{ pattern('grid', {
    cells: [cell_left, cell_right],
    reverse: reverse,
    flip_mobile: true,
    vertical_center: true,
  }, '2_column' ) }}
</section>

