{#
/**
 * @file
 * hero
 *
 * See hero.wingsuit.yaml for documentation.
 */
#}

{# TEMPLATE #}

<section class="text-gray-700 body-font">
  <div class="flex md:flex-row flex-col items-center">
    <div
      class="flex flex-col pt-8 items-center text-center md:w-1/2 md:pr-16 md:items-start md:text-left mb-16 md:mb-0 lg:flex-grow lg:pr-24">
      <div class="uppercase tracking-loose font-medium w-full mb-4">{{ pre_headline }}</div>
      {% include "@atoms/headline/headline.twig" with {headline: headline, variant: 'h3', tag_name: 'h1' } %}
      <div class="mb-8 font-medium leading-relaxed text-l max-w-sm">{{ text }}</div>
      <div class="flex justify-center">
        <div class="mr-5">{{ button }}</div>
        <div>{{ button_second }}</div>
      </div>
    </div>
    <div class="w-5/6 md:w-1/2 lg:max-w-lg lg:w-full">
      {{ image }}
    </div>
  </div>
</section>
