{% embed "@organisms/container/container.twig"
  with {
  width: 'large',
  padding_top: 'default',
  padding_bottom: 'default',
  bg: bg
} %}
  {% block content %}

    <div x-data="{feature: null, key: '{{ data|first.key }}'}">
      <div class="pb-10">
      {% include "@atoms/rich-text/rich-text.twig" with {text: content, variant: 'large'} only %}
      </div>
      {% if badge_headline is not empty %}
        <div class="pb-2">
          {% include "@atoms/rich-text/rich-text.twig" with {text: '<h3>' ~ badge_headline ~ '</h3>', variant: 'large'} only %}
        </div>
      {% endif %}
      <div
        {{ create_attribute().addClass([
          'space-x-3 flex pb-8',
          data|length == 1 ? 'hidden'
        ]) }}
      >
        {% for item in data %}
          {% include "@atoms/badge/badge.twig" with {
            text: item.title, variant: 'default',
            round: true,
            attributes: create_attribute().setAttribute(
              '@click', 'key=\'' ~ item.key ~'\''
            ).setAttribute (
              ':class', "{ 'bg-black text-white': key === '" ~ item.key ~ "' }"
            )
          } only %}
        {% endfor %}
      </div>
      {% for item in data %}
        {% set code_block %}
          {% if item.codes|length > 0 %}
          {% include "@molecules/code-block/code-block.twig"
            with {
            variant: 'dark',
            codes: item.codes
          } %}
          {% endif %}
        {% endset %}
        {% set content %}
          <div x-data="{key: '{{ item.contents|first.key }}'}">
            <div {{ create_attribute().addClass([
              'pb-4',
              item.contents|length == 1 ? 'hidden'
            ]) }}>
              {% for content in item.contents %}
                {% include "@atoms/badge/badge.twig" with {
                  text: content.title, variant: 'default',
                  attributes: create_attribute().setAttribute(
                    '@click', 'key=\'' ~ content.key ~'\''
                  ).setAttribute (
                    ':class', "{ 'shadow-md': key === '" ~ content.key ~ "' }"
                  )
                } only %}
              {% endfor %}
            </div>
            {% for content in item.contents %}

              <div x-show="key === '{{ content.key }}'">
                {% if content.intro is not empty %}
                  <div class="pb-8 pt-4">
                {{ content.intro }}
                  </div>
                {% endif %}
              {% if content.showCodeBlock is not defined or content.showCodeBlock == true %}
                {% include "@molecules/code-block/code-block.twig"
                  with {
                  variant: 'light',
                  codes: [
                    {
                      image_url: content.image_url,
                      content: content.content
                    }
                  ]

                } %}
              {% else %}
                {{ content.content }}
              {% endif %}
              </div>

            {% endfor %}
          </div>
        {% endset %}
        <div x-show="key === '{{ item.key }}'">
          {% if item.intro is not empty %}
            <div class="pb-6">
            {% include "@atoms/rich-text/rich-text.twig" with {text: item.intro, variant: 'large'} only %}
            </div>
          {% endif %}
          <div class="pt-8">
            {% embed "@organisms/grid/grid.twig" with {
              columns: code_block|trim is not empty ? 2 : 1,
              cells: [
                content,
                code_block
              ]
            } only %}
            {% endembed %}
          </div>
        </div>

      {% endfor %}
    </div>
  {% endblock %}
{% endembed %}
