{#
/**
 * @file Borders!
 * Documenting Borders.
 *
 */
#}
{% import "@ws-demo/macros/properties.twig" as properties %}

{% embed '@ws-demo/page.twig' with
  {
    "title": "Borders",
    "intro": "The <code>theme.border</code> section of your <code>tailwind.config.js</code> file allows you to override Tailwind's default spacing/sizing scale.",
    "doc_link": "https://tailwindcss.com/docs/customizing-spacing"
  } %}
  {% block content %}
    <section class="ws-section">
      <h2 class="ws-h2">Border Color</h2>
      <table  class="ws-table">
        <thead>
        <tr>
          <th>Class</th>

          <th colspan="2">
            <div class="sm:hidden absolute inset-0"></div>
            <div class="hidden sm:block">Properties</div>
          </th>
        </tr>
        </thead>
        {% for colorName, colorValue in tailwind.theme.borderColor %}

          {% if colorValue is not iterable %}
            <tr>
              <td>text-{{ colorName }}</td>
              <td>color: {{ colorValue }}</td>
              <td>
                <div class="flex rounded-lg">
                  <div class="border w-full border-{{ colorName }}">&nbsp;</div>
                </div>
              </td>
            </tr>
          {% else %}
            {% for i, subColorValue in colorValue %}
              <tr>
                <td>border-{{ colorName }}-{{ i }}</td>
                <td>color: {{ subColorValue }}</td>
                <td>
                  <div class="border w-full border-{{ colorName }}-{{ i }}">&nbsp;</div>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </table>
    </section>
    <hr class="ws-doc-block-seperator">
    <section class="ws-section">
      {{ properties.table("Border Width", "https://tailwindcss.com/docs/border-width", "Properties", "border", tailwind.theme.borderWidth) }}
      <h3 class="pt-10">Samples</h3>
      <div class="bg-white rounded-lg border-t border-l border-r border-b border-gray-400 p-4 flex flex-wrap">
        {% for name, value in tailwind.theme.borderWidth %}
          <div class="w-1/4 px-2 {% if name == 'default' %}border{% else %}border-{{ name }}{% endif %} bg-gray p-6 m-2"> <code>border-{{ name }}</code> ({{ value }}) </div>
        {% endfor %}
      </div>
    </section>
    <hr class="ws-doc-block-seperator">
    <section class="ws-section">
      {{ properties.table("Border Radius", "https://tailwindcss.com/docs/border-radius", "Properties", "rounded", tailwind.theme.borderRadius) }}

      <h3 class="pt-10">Samples</h3>
      <div class="bg-white rounded-lg border-t border-l border-r border-b border-gray-400 p-4 flex flex-wrap">
        {% for name, value in tailwind.theme.borderRadius %}
          <div class="w-1/4 px-2 border rounded-{{ name }} bg-gray p-6 m-2"> {{ value }} </div>
        {% endfor %}
      </div>
    </section>
  {% endblock %}
{% endembed %}
