{% import "@ws-demo/macros/code.twig" as code %}

{% embed '@ws-demo/page.twig' with
  {
    "title": "Images",
    "intro": "Check <code>_data/imageStyles.yml</code> ",
  } %}

  {% block content %}
    {% set imageStyles = imageConfig.styles %}
    {% set imageStylesResponsive = imageConfig.stylesResponsive %}

    <div class="ws-doc-block"><h2>Image styles</h2></div>
    {% for imageStyleName, imageStyleSetting in imageStyles %}
      <div>
        {% set imageStyleTitle = imageStyleSetting.label is not empty ? imageStyleSetting.label : imageStyleName %}
        <div class="ws-doc-block"><h3>{{ imageStyleTitle }} <span class="ws-text-sm">({{ imageStyleName }})</span></h3></div>
        <div class="ws-mt-s">
        {% include "@atoms/image/_image.twig" with {
          variant: 'primary',
          style: imageStyleName,
          placeholder: true,
        } %}
        </div>
        <div class="ws-mt-s">
        {{ code.block(
          '{% include "@atoms/image/_image.twig" with {
    style: ' ~ imageStyleName ~ ',
    placeholder: true
  } %}'
        ) }}
        </div>
        <hr class="ws-doc-block-seperator">
      </div>
    {% endfor %}
    {% if imageStylesResponsive is not empty %}
      <hr class="ws-doc-block-seperator">
      <div class="ws-doc-block">
      <h2 class="ws-h2">Responsive Image styles</h2></div>
      {% for imageStyleName, imageStyleSetting in imageStylesResponsive %}
        <div>
          {% set imageStyleTitle = imageStyleSetting.label is not empty ? imageStyleSetting.label : imageStyleName %}
        <div class="ws-doc-block"><h3 class="ws-h3">{{ imageStyleTitle }} <span class="ws-text-sm ">({{ imageStyleName }})</span></h3></div>
          <div class="ws-mt-4">
          {% include "@atoms/image/_image.twig" with {
            style: imageStyleName,
            placeholder: true,
          } %}
          </div>
          <div class="ws-mt-s">
          {{ code.block(
            '{% include "@atoms/image/_image.twig" with {
    style: ' ~ imageStyleName ~ ',
    placeholder: true
  } %}'
          ) }}
          </div>
          <hr class="ws-doc-block-seperator-s">
        </div>
      {% endfor %}
    {% endif %}
    <hr class="ws-doc-block-seperator">
    <div class="ws-doc-block"><h2>Image using paths.images path</h2></div>
    <div>
      {% include '@atoms/image/_image.twig' with {
        variant: 'primary',
        src: paths.images ~'/astrogoat.png'
      } %}
    </div>
<div class="ws-mt-s">
    {{ code.block(
      '{% include "@atoms/image/_image.twig" with {
    variant: \'primary\',
    src: paths.images ~\'/astrogoat.png\'
  } %}'
    ) }}
</div>
    <hr class="ws-doc-block-seperator">
    <h2 class="ws-h2">Background Images</h2>
    <h3 class="ws-h3">SVG</h3>
    {% include '@atoms/image/_image.twig' with {
      variant: 'bg',
      placeholder: false,
      src: paths.images ~ '/logo.svg',
      alt: 'A friendly goat wearing a space helmet. The Astrogoat!',
      image_classes: "image--bg"
    } %}
<div class="ws-mt-s ws-mb-s">
    {{ code.block (
      '{% include "@atoms/image/_image.twig" with {
    variant: \'bg\',
    src: paths.images ~\'/ogo.svg\',
    alt: \'A friendly goat wearing a space helmet. The Astrogoat!\',
    image_classes: \'image--bg\'
  } %}'
    ) }}
</div>
    <h3 class="ws-h3">PNG</h3>
    {% include '@atoms/image/_image.twig' with {
      variant: 'bg',
      src: paths.images ~ '/astrogoat.png',
      alt: 'A friendly goat wearing a space helmet. The Astrogoat!',
      image_classes: "image--bg"
    } %}
<div class="ws-mt-s">
    {{ code.block(
      '{% include "@atoms/image/_image.twig" with {
    variant: \'bg\',
    src: paths.images ~\'/astrogoat.png\',
    alt: \'A friendly goat wearing a space helmet. The Astrogoat!\',
    image_classes: \'image--bg\'
  } %}'
    ) }}
</div>
  {% endblock %}
{% endembed %}
