<div>
  {% for type, messages in message_list %}
    {#
    Classes
    #}
    {% set classes = [] %}
    {% set attributes = {} %}
    {% set classes = classes|merge([
      pattern_configuration('alert', '', type)['bg_color'],
      pattern_configuration('alert', '', type)['status_heading_styles'],
      pattern_configuration('alert', '', type)['status_heading_color'],
      pattern_configuration('alert', '', type)['message_color'],
      pattern_configuration('alert', '', 'paddings')
    ]) %}
    {% set is_message_with_title = status_headings[type] %}
    {% set attributes = attributes|default(create_attribute()) %}

    {#
    Template
    #}
    <div role="contentinfo" aria-labelledby="{{ title_ids[type] }}"{{ attributes.addClass(classes|sort|join(' ')|trim())|without('role', 'aria-label') }}>
      {% if type == 'error' %}
        <div role="alert">
      {% endif %}
      {# -- Message header -- #}
      {% if is_message_with_title or is_message_with_icon %}
        <div class="relative">
          {% if is_message_with_title %}
            <h2 id="{{ title_ids[type] }}" class="font-bold">
              {{ status_headings[type] }}
            </h2>
              <div class="absolute -left-8 top-1/2 -translate-y-1/2">
                {{ pattern('icon', {
                  icon: pattern_configuration('alert', '', type)['icon'],
                  color: pattern_configuration('alert', '', type)['icon_color'],
                }, 'spritemap' ) }}
              </div>
          {% endif %}
        </div>
      {% endif %}
      {# -- Message content -- #}
      <div>
        {# -- Message list -- #}
        {% if messages|length > 1 %}
          <ul role="list">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {# -- Single message -- #}
        {% else %}
          {{ messages|first }}
        {% endif %}
      </div>
      {% if type == 'error' %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

