{#
/**
 * @file
 * basic
 *
 * See basic.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}

{#
  Internal
#}
{% set headline %}{% block headline %}{{ headline }}{% endblock %}{% endset %}
{% set content %}{% block content %}{{ content }}{% endblock %}{% endset %}
{% set main_content %}
  <h1>{{ headline }}</h1>
  <div>{{ content }}</div>
{% endset %}

{#
  Template
#}
{{
  pattern('container', {
    padding_top: 'small',
    content: pattern('rich_text', {text: main_content})
  })
}}
