{#
  Defaults
#}
{% set tag_name = tag_name|default('div') %}
{% set color = color|default('primary') %}
{% set size = size|default('default') %}
{% set attributes = attributes|default(create_attribute()) %}
{% set icon_size = icon_size|default('default') %}
{% set icon_alignment = icon_alignment|default('right') %}

{#
  Classes
#}
{% set classes = [
  'btn flex items-center justify-center inline-flex border-2 py-1.5 px-3 focus:outline-none rounded transition-colors duration-500',
  expanded ? 'w-full',
  variant == 'link' ? 'border-0 py-0',
  icon_alignment == 'left' ? 'flex-row-reverse' : 'flex-row',
  pattern_configuration('button', variant, 'colors')[color],
  pattern_configuration('button', variant, 'size')['text'][size],
  round ? 'rounded-2xl'

] %}

{% if url is not empty %}
  {% set attributes = attributes.setAttribute('href', url) %}
  {% set tag_name = 'a' %}
{% endif %}

{#
  Template
#}
<{{ tag_name }} {{ attributes.addClass(classes | sort | join(' ') | trim).setAttribute('target', target).setAttribute('title', title) }}>
  {{ text }}
  {% if icon is not empty %}
    <div class="{{ icon_alignment == 'left' ? 'mr-2' : 'ml-2' }}"></div>
    {% include "@atoms/svg/_svg--icon.twig" with {
      icon: icon,
      size: pattern_configuration('button', variant, 'size')['icon'][size],
    } only %}
  {% endif %}
</{{ tag_name }}>
