{#
/**
 * @file
 * accordion-item
 *
 * See accordion-item.wingsuit.yaml for documentation.
 */
#}
{# SETTINGS #}
{% set id = uuid() %}

{# TEMPLATE #}

<div id="accordion">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-block btn-link text-left" data-toggle="collapse" data-target="#acc-{{ id }}" aria-expanded="true" aria-controls="collapseOne">
          {{ label }}
        </button>
      </h5>
    </div>

    <div id="acc-{{ id }}" class="collapse" aria-labelledby="{{ id }}" data-parent="#accordion">
      <div class="card-body">
        {{ content }}
      </div>
    </div>
  </div>
</div>
