{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set image_attributes = create_attribute() %}
{% set content_attributes = create_attribute() %}

{#
  Attributes
#}
{% set attributes = attributes
  .addClass([
    text_align == 'center' ? 'text-center',
    pattern_configuration('avatar', null, 'defaults')['wrapper_classes'],
  ] | sort | join(' ') | trim)
%}

{% set image_attributes = image_attributes
  .addClass([
    pattern_configuration('avatar', null, 'defaults')['image_classes'],
  ] | sort | join(' ') | trim)
%}

{% set content_attributes = content_attributes
  .addClass([
    pattern_configuration('avatar', null, 'defaults')['content_classes'],
  ] | sort | join(' ') | trim)
%}

{#
  Template
#}
<figure {{attributes}} >
  <div {{ image_attributes }}>
    {{ image }}
  </div>
  <div {{ content_attributes }}>
    <div>
      <blockquote>
        <div class="{{ pattern_configuration('avatar', null, 'defaults')['name_classes'] }}">
          {{ full_name }}
        </div>
      </blockquote>
      <figcaption>
        <div class="{{ pattern_configuration('avatar', null, 'defaults')['title_classes'] }}">
          {{ title }}
        </div>
      </figcaption>
    </div>
    <div>
      {{ button }}
    </div>
  </div>
</figure>
