{#
/**
 * @file
 * avatar
 *
 * See avatar.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set image_attributes = image_attributes|default(create_attribute()) %}

{#
  Classes
#}
{% set classes = [
  text_align == 'center' ? 'text-center',
  pattern_configuration('avatar', null, 'defaults')['wrapper_classes'],
] | sort | join(' ') | trim %}

{% set image_classes = [
  pattern_configuration('avatar', null, 'defaults')['image_classes'],
] | sort | join(' ') | trim %}

{% set content_classes = [
  pattern_configuration('avatar', null, 'defaults')['content_classes'],
] | sort | join(' ') | trim %}

{#
  Template
#}
<figure{{attributes.addClass(classes)}}>
  <div class="{{ image_classes }}">
    {{ image }}
  </div>
  <div class="{{ content_classes }}">
    <div>
      <blockquote>
        <div class="{{ pattern_configuration('avatar', null, 'defaults')['name_classes'] }}">
          {{ full_name }}
        </div>
      </blockquote>
      <figcaption>
        <div class="{{ pattern_configuration('avatar', null, 'defaults')['title_classes'] }}">
          {{ title }}
        </div>
      </figcaption>
    </div>
    <div>
      {{ button }}
    </div>
  </div>
</figure>
