{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set element = element|default('figure') %}

{#
Internal Logic
#}
{% if url is not empty %}
  {% set attributes = attributes.setAttribute('href', url) %}
  {% set element = 'a' %}
{% endif %}

{#
  Attributes
#}
{% set attributes = attributes.addClass(pattern_configuration('avatar', null, 'classes')['wrapper']) %}
{% set image_attributes = create_attribute().addClass(pattern_configuration('avatar', null, 'classes')['image']) %}
{% set content_wrapper_attributes = create_attribute().addClass(pattern_configuration('avatar', null, 'classes')['content_wrapper']) %}
{% set name_attributes = create_attribute().addClass(pattern_configuration('avatar', null, 'classes')['name']) %}
{% set title_attributes = create_attribute().addClass(pattern_configuration('avatar', null, 'classes')['title']) %}

{#
  Template
#}
<{{ element }} {{ attributes }}>
  <div {{ image_attributes }}>
    {{ image }}
  </div>
  <div {{ content_wrapper_attributes }}>
    <div>
      <blockquote>
        <div {{ name_attributes }}>
          {{ full_name }}
        </div>
      </blockquote>
      <figcaption>
        <div {{ title_attributes }}>
          {{ title }}
        </div>
      </figcaption>
    </div>
    <div>
      {{ button }}
    </div>
  </div>
</{{ element }}>
