{#
/**
 * @file
 * avatar
 *
 * See avatar.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}

{#
  Attributes
#}
{% set attributes = attributes.addClass(pattern_configuration('avatar', null, 'defaults')['wrapper_classes']) %}
{% set image_attributes = create_attribute().addClass(pattern_configuration('avatar', null, 'defaults')['image_classes']) %}
{% set content_wrapper_attributes = create_attribute().addClass(pattern_configuration('avatar', null, 'defaults')['content_wrapper_classes']) %}
{% set name_attributes = create_attribute().addClass(pattern_configuration('avatar', null, 'defaults')['name_classes']) %}
{% set title_attributes = create_attribute().addClass(pattern_configuration('avatar', null, 'defaults')['title_classes']) %}

{#
  Template
#}

<figure {{ attributes }}>
  <div {{ image_attributes }}>
    {{ image }}
  </div>
  <div {{ content_wrapper_attributes }}>
    <div>
      <blockquote>
        <div {{ name_attributes }}>
          {{ full_name }}
        </div>
      </blockquote>
      <figcaption>
        <div {{ title_attributes }}>
          {{ title }}
        </div>
      </figcaption>
    </div>
    <div>
      {{ button }}
    </div>
  </div>
</figure>
