{#
/**
 * @file
 * avatar
 *
 * See avatar.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set image_attributes = image_attributes|default(create_attribute()) %}

{#
  Classes
#}
{% set classes = [
  text_align == 'center' ? 'text-center',
  'bg-gray-100 rounded-xl overflow-hidden p-8',
] %}


{#
  Template
#}
<figure{{attributes.addClass(classes)}}>
  <div class="relative overflow-hidden flex-none w-[152px] h-[152px] lg:h-[168px] lg:w-[168px] rounded-full mx-auto aspect-[1/1]">
    {{ image }}
  </div>
  <div class="mt-4 gap-y-4 flex-1 flex justify-center items-center flex-col">
    <div>
      <blockquote>
        <div class="text-xl font-bold">
          {{ full_name }}
        </div>
      </blockquote>
      <figcaption>
        <div class="text-base text-center mt-1">
          {{ title }}
        </div>
      </figcaption>
    </div>
    <div>
      {{ button }}
    </div>
  </div>
</figure>
