{#
/**
 * @file
 * banner
 *
 * See banner.wingsuit.yaml for documentation.
 */
#}
{#
  Default
#}
{%
  set attributes = attributes|default(create_attribute())
%}
{%
  set position = position|default('center_center')
%}

{#
  Attributes
#}
{%
  set attributes = attributes.addClass(
    pattern_configuration('banner', null, 'defaults')['wrapper_classes']
  )
%}
{%
  set teaser_wrapper_attributes = create_attribute().addClass(
    pattern_configuration('banner', null, 'defaults')['teaser_wrapper_classes']
  )
%}
{%
  set teaser_attributes = create_attribute().addClass(
    pattern_configuration('banner', null, 'defaults')['teaser_classes']
  )
%}

{#
  Classes
#}
{% set position_classes = [
  'flex-1 flex',
  pattern_configuration('banner', null, 'position')[position]['text']
] | sort | join(' ') | trim %}

{#
  Render Slots
#}
{% set teaser %}{{- teaser -}}{% endset %}

{#
  Template
#}
<div {{ attributes }}>
  <div>{{ image }}</div>
  <div {{ teaser_wrapper_attributes }}>
    {% if teaser is not empty %}
    {% embed "@organisms/container/container.twig" with {
      width: 'small',
      padding_bottom: 'none',
      region_attributes: region_attributes,
      teaser: teaser,
      headline: headline,
      classes: position_classes,
      teaser_attributes: teaser_attributes
    }  only %}
      {% block content %}
        <div {{ teaser_attributes }}>
          {{ teaser }}
        </div>
      {% endblock %}
    {% endembed %}
    {% endif %}
  </div>
</div>
