{#
/**
 * @file
 * banner
 *
 * See banner.wingsuit.yaml for documentation.
 */
#}

{# SETTINGS #}
{% set position_classes = ([
  pattern_configuration('banner', null, 'position')[position]['text'],
]) | sort | join(' ') | trim %}

{% set teaser %}{{- teaser -}}{% endset %}

{# Template #}
<div class="{{ pattern_configuration('banner', null, 'defaults')['classes'] }}">
  <div>{{ image }}</div>
  <div class="{{ pattern_configuration('banner', null, 'defaults')['wrapper_classes'] }}">
    {% embed "@organisms/container/container.twig" with {padding_bottom: 'none', region_attributes: region_attributes, teaser: teaser, headline: headline, classes: 'flex-1 flex ' ~ position_classes}  only %}
      {% block content %}
        <div class="{{ pattern_configuration('banner', null, 'defaults')['teaser_spacing'] }}">
          {% if teaser is not empty %}
            <div class="{{ pattern_configuration('banner', null, 'defaults')['teaser_classes'] }}">
              {{ teaser }}
            </div>
          {% endif %}
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</div>
