{#
/**
 * @file
 * banner
 *
 * See banner.wingsuit.yaml for documentation.
 */
#}
{# DEFAULTS #}
{% set position = pattern_configuration('banner', null, 'position')['text'][position] %}
{% set image_position = pattern_configuration('banner', null, 'position')['image'][position] %}
{% set height = pattern_configuration('banner', null, 'height')['height'][height] %}

{# SETTINGS #}
{% set position_classes = ([
  position
]) | sort | join(' ') | trim %}

{% set teaser %}{{- teaser -}}{% endset %}

{# Template #}
<div{{ attributes|default(create_attribute()).addClass('relative dark') }}>
  <div>{{ image }}</div>
  <div class="absolute top-0 left-0 w-full h-full flex">
    {% embed "@organisms/container/container.twig" with {padding_bottom: 'none', region_attributes: region_attributes, teaser: teaser, headline: headline, classes: 'flex-1 flex ' ~ position_classes}  only %}
      {% block content %}
        <div class="p-6 dark:text-white">
          {% if teaser is not empty %}
            <div{{ region_attributes.teaser|default(create_attribute()).addClass('bg-black bg-opacity-25 mix-blend-normal rounded-lg p-6') }}>
              {{ teaser }}
            </div>
          {% endif %}
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</div>
