{#
/**
 * @file
 * banner
 *
 * See banner.wingsuit.yaml for documentation.
 */
#}
{#
  Default
#}
{%
  set attributes = attributes|default(create_attribute())
%}
{%
  set position = position|default('center_center')
%}

{#
  Attributes
#}
{%
  set attributes = attributes.addClass(
    pattern_configuration('banner', null, 'classes')['wrapper']

  )
%}
{%
  set slogan_wrapper_attributes = create_attribute().addClass([
    pattern_configuration('banner', null, 'classes')['slogan_wrapper'],
    teaser_dark == true ? 'dark'
    ]
  )
%}
{#
  Classes
#}
{% set slogan_position_classes = [
  'flex-1 flex',
  pattern_configuration('banner', null, 'position')[position]['text']
] | sort | join(' ') | trim %}

{#
  Render Slots
#}
{% set headline %}{{- headline -}}{% endset %}
{% set teaser %}{{- teaser -}}{% endset %}
{% set text %}
  <div class="{{ slogan_position_classes }}">
    {{ pattern('rich_text', { text: teaser }) }}
  </div>
{% endset %}
{#
  Template
#}
<div {{ attributes }}>
  <div class="[&>img]:w-full">{{ image }}</div>
  <div {{ slogan_wrapper_attributes }}>
    {% if teaser or headline %}
      {{ pattern('container', {equal_height: true, content: text, classes: 'flex'}) }}
    {% endif %}
  </div>
</div>
