{#
/**
 * @file
 * rich-snippet
 *
 * See rich-snippet.wingsuit.yaml for documentation.
 */
#}

{#
Defaults
#}
{% set size = size|default('default') %}

{#
  Attributes
#}
{% set preheadline_attributes = create_attribute().addClass(pattern_configuration('rich_snippet', variant, 'default')['preheadline_classes']) %}
{% set headline_attributes = create_attribute().addClass([
  'font-bold',
  pattern_configuration('rich_snippet', variant, 'size')[size]['headline_text'],
  pattern_configuration('rich_snippet', variant, 'size')[size]['spacing'],
] | sort | join(' ') | trim ) %}
{% set text_attributes = create_attribute().addClass(pattern_configuration('rich_snippet', variant, 'size')[size]['text']) %}

{#
  Render Slots
#}
{% set preheadline %}{{- preheadline -}}{% endset %}
{% set headline %}{{- headline -}}{% endset %}
{% set text %}{{- text -}}{% endset %}

{#
  Template
#}
<div>
  {% if preheadline is not empty %}
    <div {{ preheadline_attributes }}>
      {{ preheadline }}
    </div>
  {% endif %}
  {% if headline %}
    <div {{ headline_attributes }}>
      {{ headline }}
    </div>
  {% endif %}
  {% if text %}
    <p {{ text_attributes }}>
      {{ text }}
    </p>
  {% endif %}
  {% if action %}
    <div class="mt-5">
      {{ action }}
    </div>
  {% endif %}
</div>
