{% embed "@templates/site-container.twig"
  with {
  primary_menu: pattern_preview('menu', 'primary'),
  footer_menu_1: pattern_preview('menu', 'footer'),
  footer_menu_2: pattern_preview('menu', 'footer'),
  footer_menu_3: pattern_preview('menu', 'footer'),
  footer_menu_4: pattern_preview('menu', 'footer')
} %}
  {% block main %}
    {% embed "@organisms/section/section.twig" with { columns: 1, padding_top: "large" } %}
      {% block column_1 %}
    {{ pattern_preview('hero') }}
      {% endblock %}
    {% endembed %}
    {% embed "@organisms/section/section.twig" with { columns: 3 } %}
      {% block header%}
        {% include "@atoms/rich-text/rich-text.twig" with { text: "<h2 class=text-center>Section title</h2>" }%}
      {% endblock %}
      {% block column_1 %}
        {{ pattern_preview('card') }}
      {% endblock %}
      {% block column_2 %}
        {{ pattern_preview('card', '', {'headline': ' Second Card'}) }}
      {% endblock %}
      {% block column_3 %}
        {{ pattern_preview('card') }}
      {% endblock %}
    {% endembed %}
    {% embed "@organisms/section/section.twig" with { columns: 1 } %}
      {% block header%}
        {% include "@atoms/rich-text/rich-text.twig" with { text: "<h2 class=text-center>Accordion</h2>" }%}
      {% endblock %}

      {% block column_1 %}
        {{ pattern_preview('accordion') }}
      {% endblock %}
    {% endembed %}
    {% embed "@organisms/section/section.twig" with { columns: 1} %}
      {% block header%}
        {% include "@atoms/rich-text/rich-text.twig" with { text: "<h2 class=text-center>Banner</h2>" }%}
      {% endblock %}
      {% block column_1 %}
        {{ pattern_preview('banner', 'center_left') }}
      {% endblock %}
    {% endembed %}
    {% embed "@organisms/section/section.twig" with { columns: 3 } %}
      {% block header%}
        {% include "@atoms/rich-text/rich-text.twig" with { text: "<h2 class=text-center>Cards</h2>" }%}
      {% endblock %}
      {% block column_1 %}
        {{ pattern_preview('card', '', {'image': 'https://satyr.io/460x402'}) }}
      {% endblock %}
      {% block column_2 %}
        {{ pattern_preview('card', '', {'image': 'null'}) }}
      {% endblock %}
      {% block column_3 %}
        {{ pattern_preview('card', '', {'image': 'null'}) }}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
