  {# SETTINGS #}

{% set element = element|default('article') %}

{% set classes = ([
  ' group',
] | sort | join(' ') | trim ) %}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{% if url is not empty %}
  {% set attributes = attributes.setAttribute('href', url) %}
  {% set element = 'a' %}
{% endif %}

{% set wrapper_classes = ([
  pattern_configuration('card', variant, 'defaults')['wrapper_classes'],
  pattern_configuration('card', variant, 'direction')['flex'],
] | sort | join(' ') | trim ) %}

{% set image_classes = ([
  pattern_configuration('card', variant, 'image')['size'],
  ] | sort | join(' ') | trim ) %}

{# TEMPLATE #}
<{{ element }} {{ attributes }}>
  <div class="{{ wrapper_classes }}">
    {% if image is not empty %}
      <div class="{{ image_classes }}">
        {% block image %}
          {{ image }}
        {% endblock %}
      </div>
    {% endif %}
    <div class="p-6 flex-1 bg-white">
      {{ pattern('rich_snippet', {preheadline: preheadline, headline: headline, text: text, action: action}, 'small', {size: 'small'} ) }}
    </div>
  </div>
</{{ element }}>
