<div>
  <div class="mb-4">{{ image }}</div>
  <div class="mb-2
     {{ text_align == 'center' ? 'text-center' }}
     {{ text_align == 'right' ? 'text-right' }}
    ">{{ headline }}</div>
  <div>{{ button }}</div>
</div>
