{#
Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set element = element|default('article') %}

{#
  Internal Logic
#}
{% if url is not empty %}
  {% set attributes = attributes.setAttribute('href', url) %}
  {% set element = 'a' %}
{% endif %}

{#
Attributes
#}
{% set attributes = attributes.addClass(pattern_configuration('card', variant, 'defaults')['attribute_classes'] ) %}
{% set wrapper_attributes = create_attribute().addClass([
    pattern_configuration('card', variant, 'defaults')['wrapper_classes'],
    pattern_configuration('card', variant, 'direction')['flex'],
  ] | sort | join(' ') | trim )
%}

{% set image_attributes = create_attribute().addClass([
    pattern_configuration('card', variant, 'image')['size'],
    ] | sort | join(' ') | trim )
%}

{#
  Template
#}
<{{ element }} {{ attributes }}>
  <div {{ wrapper_attributes }}>
    {% if image is not empty %}
      <div {{ image_attributes }}>
        {% block image %}
          {{ image }}
        {% endblock %}
      </div>
    {% endif %}
    <div class="p-6 flex flex-1 bg-white">
      {{ pattern('rich_snippet', {preheadline: preheadline, headline: headline, text: text, action: action}, 'small' ) }}
    </div>
  </div>
</{{ element }}>
