{# SETTINGS #}
{% set element = element|default('article') %}
{% set headline__element = headline__element|default('h2') %}
{% if url is not empty %}
  {% set attributes = attributes.setAttribute('href', url) %}
  {% set element = 'a' %}
{% endif %}
{# CARD CLASSES #}
{% set link_classes = ([
  alignment == 'center' ? 'mx-auto': '',
  'text-indigo-500', 'inline-flex', 'md:mb-2', 'lg:mb-0', 'items-center', 'underline',
]) | sort | join(' ') | trim %}

{% set classes = ([
  ' group',
] | sort | join(' ') | trim ) %}

{% set wrapper_classes = ([
  alignment == 'center' ? 'text-center rounded': '',
  ' group-hover:shadow-lg flex max-w-xl flex-1 rounded-lg overflow-hidden w-full',
  variant == 'horizontal' ? 'flex-col md:flex-row' : 'flex-col'
] | sort | join(' ') | trim ) %}

{% set image_classes = ([
  variant == 'default' ? 'flex-0 aspect-[16/9]',
  variant == 'horizontal' ? 'w-full lg:w-60 aspect-[16/9] relative flex'
  ] | sort | join(' ') | trim ) %}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{# TEMPLATE #}
<{{ element }} {{ attributes }}>
  <div class="{{ wrapper_classes }}">
    {% if image is not empty %}
      <div class="{{ image_classes }}">
        {% block image %}
          {{ image }}
        {% endblock %}
      </div>
    {% endif %}
    <div class="p-6 flex-1 bg-white">
      {% if preheadline %}
        <div class="font-bold text-base text-teal-500 mb-2">
          {{ preheadline }}
        </div>
      {% endif %}
      <div class="text-2xl font-bold mb-3 ">{{ headline }}</div>
      <div class="text-base leading-[28px]">{{ text }}</div>
      <div class="mt-7.5 text-purple-600 group-hover:underline font-bold flex items-center">
        {{ "Tell me more"|t }} <span class="pl-3">{{ pattern('icon', {icon: "check" }, 'spritemap' ) }}</span>
      </div>
    </div>
  </div>
</{{ element }}>
