{#
Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set element = element|default('article') %}

{#
  Internal Logic
#}
{% if url is not empty %}
  {% set attributes = attributes.setAttribute('href', url) %}
  {% set element = 'a' %}
{% endif %}

{#
Attributes
#}
{% set attributes = attributes.addClass([
  pattern_configuration('card', variant, 'classes')['wrapper'],
  pattern_configuration('card', variant, 'direction')['flex'],
  ] | sort | join(' ') | trim
) %}

{% set image_attributes = create_attribute().addClass([
    pattern_configuration('card', variant, 'image')['size'],
    ] | sort | join(' ') | trim )
%}

{#
  Template
#}
<div class="flex flex-1 flex-col group hover:box-shadow shadow-sm">
  <{{ element }} {{ attributes }}>
    {% if image is not empty %}
      <div {{ image_attributes }}>
        {% block image %}
          {{ image }}
        {% endblock %}
      </div>
    {% endif %}
    <div class="p-6 flex flex-1 bg-white">
      {{ pattern('rich_snippet', {
        preheadline: preheadline,
        headline: headline,
        text: text,
        action: action,
        attributes: attributes
      }, 'small' ) }}
    </div>
  </{{ element }}>
</div>

