{#
  Pre render
#}
{%- set image -%}{{- image -}}{% endset %}

{#
  Template
#}
{% set lead_text %}
  <h1>{{ headline }}</h1>
  {% if lead %}
    <div class="lead">{{ lead }}</div>
  {% endif %}
{% endset %}
{{
  pattern('container', {
    width: 'width',
    padding_bottom: 'small',
    content: pattern('rich_text', {text: lead_text}, 'default')
  })
}}
{% if image is not empty %}
  {{
    pattern('container', {width: 'default', padding_bottom: 'small', content: image})
  }}
{% endif %}
{{
  pattern('container',{
    width: 'small',
    padding_bottom: 'small',
    content: pattern('rich_text', {text: text}, 'default')
  })
}}
