{#
Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}

{#
Attributes
#}
{% set attributes = attributes.addClass(pattern_configuration('header', variant, 'default')['classes']).addClass(pattern_configuration('header', variant, 'functionality')['position']) %}
{% set wrapper_attributes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['wrapper_classes']) %}
{% set logo_attributes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['logo_classes']) %}
{% set hamburger_attributes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['hamburger_classes']) %}
{% set menu_attributes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['menu_classes']) %}

{#
TEMPLATE
#}
<header {{ attributes }}>
  {% embed "@organisms/container/container.twig" with {
    menu: menu,
    language_select: language_select,
    padding_bottom: 'none',
    wrapper_attributes: wrapper_attributes,
    logo_attributes: logo_attributes,
    hamburger_attributes: hamburger_attributes,
    menu_attributes: menu_attributes,
    search_bar: search_bar
  } only %}
    {% block content %}
      <div {{ wrapper_attributes }}>
        <div {{ logo_attributes }}>
          {{ pattern('logo', { }) }}
        </div>
        <div {{ hamburger_attributes }}>
          {{ pattern('hamburger', {size: 'default'}) }}
        </div>
        <div class="flex items-center lg:gap-6 flex-row-reverse lg:flex-row">
          <div {{ menu_attributes }} :class="{'block': menuIsOpen, 'hidden': !menuIsOpen}">
            {{ menu }}
          </div>
          {{ search_bar }}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
</header>
{% embed "@organisms/container/container.twig" with {
  breadcrumb: breadcrumb,
  padding_top: 'small',
  padding_bottom: 'small',
} only %}
  {% block content %}
    {{ breadcrumb }}
  {% endblock %}
{% endembed %}

