{#
  Defaults
#}
{% set header_classes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['main_wrapper']).addClass(pattern_configuration('header', variant, 'functionality')['position']) %}
{% set second_wrapper = create_attribute().addClass(pattern_configuration('header', variant, 'default')['second_wrapper']) %}
{% set logo_classes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['logo']) %}
{% set hamburger_classes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['hamburger']) %}
{% set menu_classes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['menu']) %}

{#
  TEMPLATE
#}
<header {{ header_classes }}>
  {% embed "@organisms/container/container.twig" with {menu: menu, language_select: language_select, padding_bottom: 'none', second_wrapper: second_wrapper, logo_classes: logo_classes, hamburger_classes: hamburger_classes, menu_classes: menu_classes} only%}
    {% block content %}
      <div {{ second_wrapper }}>
        <div {{ logo_classes }}>
          {{ pattern('logo', null, '' ) }}
        </div>
        <div {{ hamburger_classes }}>
          {{ pattern('hamburger', null, '' ) }}
        </div>
        <div {{ menu_classes }} :class="{'block': menuIsOpen, 'hidden': !menuIsOpen}">
          {{ menu }}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
</header>
