{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}

{#
  Attributes
#}
{% set attributes = attributes.addClass(pattern_configuration('header', variant, 'default')['classes']).addClass(pattern_configuration('header', variant, 'functionality')['position']) %}
{% set wrapper_attributes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['wrapper_classes']) %}
{% set logo_attributes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['logo_classes']) %}
{% set hamburger_attributes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['hamburger_classes']) %}
{% set menu_attributes = create_attribute().addClass(pattern_configuration('header', variant, 'default')['menu_classes']) %}

{#
  TEMPLATE
#}
<header {{ attributes }}>
  {% embed "@organisms/container/container.twig" with {
    menu: menu,
    language_select: language_select,
    padding_bottom: 'none',
    wrapper_attributes: wrapper_attributes,
    logo_attributes: logo_attributes,
    hamburger_attributes: hamburger_attributes,
    menu_attributes: menu_attributes
  } only%}
    {% block content %}
      <div {{ wrapper_attributes }}>
        <div {{ logo_attributes }}>
          {{ pattern('logo', { }) }}
        </div>
        <div {{ hamburger_attributes }}>
          {{ pattern('hamburger') }}
        </div>
        <div {{ menu_attributes }} :class="{'block': menuIsOpen, 'hidden': !menuIsOpen}">
          {{ menu }}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
</header>
