{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}


{#
  Internal logic
#}
{% set configuration_classes = pattern_configuration('breadcrumb', variant, 'classes') %}
{% set configuration_icon = pattern_configuration('breadcrumb', variant, 'icon') %}

{#
  Attributes
#}

{% set attributes = attributes
  .addClass([
    configuration_classes['wrapper'],
    darkmode ? 'dark',
  ]|sort|join(' ')|trim)
  .setAttribute('role', 'navigation')
  .setAttribute('aria-labelledby', 'system-breadcrumb')
%}

{% set link_attributes = create_attribute().addClass(configuration_classes['link']['regular']) %}
{% set last_item_attributes = create_attribute().addClass(configuration_classes['list_item']) %}
{% set list_attributes = create_attribute().addClass(configuration_classes['list']) %}

{#
  Render Slots
#}
{% set mobile_icon %}
  <div class="mx-2 text-royal-500 dark:text-white">
    {{ pattern('icon', {
      icon: pattern_configuration('breadcrumb', variant, 'icon')['symbol'],
      size: pattern_configuration('breadcrumb', variant, 'icon')['size']
    }, 'spritemap' ) }}
  </div>
{% endset %}

{#
  Template
#}
<nav {{ attributes }}>
  <ol {{ list_attributes }}>
    {% for item in links %}
      {% set mobile_text %}
        <a class="{{ last_item }} {{ link_classes }}" href="{{ item.url }}">
          {{ item.text }}
        </a>
      {% endset %}
      <li {{ list_item_attributes }}>
        {% if loop.last and loop.length != 1%}
          {% set last_item = '' %}
          <div class="hidden lg:block font-semibold text-royal-500 dark:text-white no-underline"{{ last_item }} {{ link_classes }}">
            {{ item.text }}
          </div>
        {% else %}
          <a class="hidden lg:block font-normal text-black lg:hover:underline dark:text-sky-blue-300 {{ last_item }} {{ link_classes }}" href="{{ item.url }}">
            {{ item.text }}
          </a>
        {% endif %}
        <div class="block lg:hidden {{ list_classes }}">
          {% if loop.length == 1 %}
            {{ mobile_icon }}
            {{ mobile_text }}
          {% endif %}
          {% if loop.revindex0 == 1 %}
            {{ mobile_icon }}
            {{ mobile_text }}
          {% endif %}
        </div>
        {% if loop.last == false %}
          <div class="hidden lg:block mx-1 lg:mx-2 text-royal-500 dark:text-white">
            {{ pattern('icon', {icon: 'chevron-right' }, 'spritemap' ) }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
