{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}


{#
  Internal logic
#}
{% set configuration_classes = pattern_configuration('breadcrumb', variant, 'classes') %}
{% set configuration_icon = pattern_configuration('breadcrumb', variant, 'icon') %}

{#
  Attributes
#}

{% set attributes = attributes
  .addClass([
    configuration_classes['wrapper'],
    darkmode ? 'dark',
  ]|sort|join(' ')|trim)
  .setAttribute('role', 'navigation')
  .setAttribute('aria-labelledby', 'system-breadcrumb')
%}

{% set link_attributes = create_attribute().addClass(configuration_classes['link']['regular']) %}
{% set list_item_attributes = create_attribute().addClass(pattern_configuration('breadcrumb', variant, 'classes')['list_item']) %}
{% set last_item_attributes = create_attribute().addClass(pattern_configuration('breadcrumb', variant, 'classes')['last_item']) %}
{% set list_attributes = create_attribute().addClass(pattern_configuration('breadcrumb', variant, 'classes')['list']) %}
{% set list_link_attributes = create_attribute().addClass(pattern_configuration('breadcrumb', variant, 'classes')['list_link']) %}
{% set list_mobile_wrapper_attributes = create_attribute().addClass(pattern_configuration('breadcrumb', variant, 'classes')['list_mobile_wrapper']) %}
{% set list_icon_attributes = create_attribute().addClass(pattern_configuration('breadcrumb', variant, 'classes')['list_icon']) %}

{#
  Render Slots
#}
{% set mobile_icon %}
  <div class="mx-2 text-royal-500 dark:text-white">
    {{ pattern('icon', {
      icon: pattern_configuration('breadcrumb', variant, 'icon')['symbol'],
      size: pattern_configuration('breadcrumb', variant, 'icon')['size']
    }, 'spritemap' ) }}
  </div>
{% endset %}

{#
  Template
#}
<nav {{ attributes }}>
  <ol {{ list_attributes }}>
    {% for item in links %}
      {% set mobile_text %}
        <a class="{{ last_item }} {{ link_classes }}" href="{{ item.url }}">
          {{ item.text }}
        </a>
      {% endset %}
      <li {{ list_item_attributes }}>
        {% if loop.last and loop.length != 1%}
          {% set last_item = '' %}
          <div {{ last_item_attributes }}>
            {{ item.text }}
          </div>
        {% else %}
          <a {{ list_link_attributes }} href="{{ item.url }}">
            {{ item.text }}
          </a>
        {% endif %}
        <div {{ list_mobile_wrapper_attributes }}>
          {% if loop.length == 1 %}
            {{ mobile_icon }}
            {{ mobile_text }}
          {% endif %}
          {% if loop.revindex0 == 1 %}
            {{ mobile_icon }}
            {{ mobile_text }}
          {% endif %}
        </div>
        {% if loop.last == false %}
          <div {{ list_icon_attributes }}>
            {{ pattern('icon', {icon: 'chevron-right' }, 'spritemap' ) }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
