{% macro properties(title, doc_link, column_name, prefix, items) %}

  <h2 class="pl-h2 ">{{ title }}{% if doc_link is not empty %}
      <a class="pl-link pl-text-sm" href="{{ doc_link }}">(Tailwind documentation)</a>
    {% endif %}</h2>
  <div
    class="lg:max-h-sm overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch"
    style="max-height: 400px">
    <table class="pl-table">
      <thead>
      <tr>
        <th>Class</th>
        <th>{{ column_name }}</th>
      </tr>
      </thead>
      <tbody>
      {% for name, value in items %}
        <tr>
          <td class="pl-text-blue">.{{ prefix }}-{{ name }}</td>
          <td>{{ value }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endmacro %}
{% macro display_code(code) %}
<div class="pl-code rounded-lg text-white bg-black">
  <pre>{{ code }}</pre>
</div>
{% endmacro %}
{% macro display_config(theme_name, items) %}

  <div class="pl-code rounded-lg text-white bg-black mt-10">
      // tailwind.config.js
      <div>module.exports = {</div>
      <div class="ml-2">theme: {</div>
      <pre class="ml-4">
{{ theme_name }}:&nbsp;
{{- items|json_encode(constant('JSON_PRETTY_PRINT')) -}}
        </pre>
      <div class="ml-2">}</div>
    <div>}</div>
  </div>

{% endmacro %}

{% macro samples(title, text, prefix, items) %}
  <h3 class="pl-h3 pl-mt">{{ title }}</h3>
  <div class="pl-samples bg-white rounded-lg border border-gray-400 p-4 ">
    {% for name, value in items %}
      <div class="mb-6"><p class="text-sm text-gray-600">.{{ prefix }}-{{ name }}</p>
        <p class="{{ prefix }}-{{ name }} text-gray-800">{{ text }}</p></div>
    {% endfor %}
  </div>
{% endmacro %}
