{#
/**
 * @file
 * accordion-item
 *
 * See accordion-item.wingsuit.yaml for documentation.
 */
#}
{#
  Default
#}
{% set attributes = attributes|default(create_attribute()) %}

{#
  Attributes
#}
{% set attributes = attributes.addClass(pattern_configuration('accordion_item', null, 'classes')['wrapper']) %}
{% set inner_wrapper_attributes = create_attribute().addClass(pattern_configuration('accordion_item', null, 'classes')['inner_wrapper']) %}
{% set label_wrapper_attributes = create_attribute().addClass(pattern_configuration('accordion_item', null, 'classes')['label_wrapper']) %}
{% set content_wrapper_attributes = create_attribute().addClass(pattern_configuration('accordion_item', null, 'classes')['content_wrapper']) %}
{% set content_attributes = create_attribute().addClass(pattern_configuration('accordion_item', null, 'classes')['content']) %}
{% set label_attributes = create_attribute().addClass(pattern_configuration('accordion_item', null, 'classes')['label']) %}
{% set icon_attributes = create_attribute().addClass(pattern_configuration('accordion_item', null, 'classes')['icon']) %}

{#
  Template
#}
<div {{ attributes }} x-data="{selected: false}">
  <div type="button" {{ inner_wrapper_attributes }}
       @click="selected !== true ? selected = true : selected = false">
    <div {{ label_wrapper_attributes }}>
      <span {{ label_attributes }}">{{ label }}</span>
      <div class="text-purple-600" x-cloak {{ icon_attributes }} :class="{ 'transform rotate-180 transition duration-400' : selected == true }">
        {{ pattern('icon', {icon: 'chevron-down' }, 'spritemap' ) }}
      </div>
    </div>
  </div>
  <div {{ content_wrapper_attributes }} x-ref="container1" x-bind:style="selected == true ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div {{ content_attributes }}>
      {{ content }}
    </div>
  </div>
</div>
