{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the primary/agree button. Note that this is the
 *   primary button. For backwards compatibility, the name remains agree_button.
 * - disagree_button: Contains Cookie policy button title. (Note: for historical
 *   reasons, this label is called "disagree" even though it just displays the
 *   privacy policy.)
 * - secondary_button_label: Contains the secondary button label. The current
 *   action depends on whether you're running the module in Opt-out or Opt-in
 *   mode.
 * - primary_button_class: Contains class names for the primary button.
 * - secondary_button_class: Contains class names for the secondary button
 *   (if visible).
 * - cookie_categories: Contains a array with cookie categories that can be
 *   agreed or disagreed to separately.
 * - save_preferences_button_label: Label text for a button to save the consent
 *   preferences.
 * - fix_first_cookie_category: Boolean value to indicate that the first consent
 *   category cannot be unchecked.
 * - privacy_settings_tab_label: Label text for the Privacy settings tab.
 * - withdraw_button_on_info_popup: Show the withdraw button on this popup.
 * - method: Chosen consent method.
 */
#}

{#
Defaults
#}
{% set attributes = attributes|default(create_attribute().addClass(classes)) %}

{#
Attributes
#}
{% set attributes = attributes.addClass(pattern_configuration('cookie_banner', variant, 'classes')['wrapper']) %}
{% set sliding_popup_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['sliding_popup_classes']) %}
{% set popup_content_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['popup_content_classes']) %}
{% set cookiebanner_message_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['cookiebanner_message']) %}
{% set more_button_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['more_button']) %}
{% set cookiebanner_categories_wrapper_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['cookiebanner_categories_wrapper']) %}
{% set cookiebanner_categories_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'defaults')['cookiebanner_categories']) %}
{% set category_description_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['category_description']) %}
{% set popup_buttons_wrapper_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['popup_buttons_wrapper']) %}
{% set button_preferences_attributes= create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['button_preferences']) %}
{% set button_agree_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['button_agree']) %}
{% set button_decline_attributes = create_attribute().addClass(pattern_configuration('cookie_banner', variant, 'classes')['button_decline']) %}

{#
CLASSES
#}
{% set classes = [
  cookie_categories ? 'cookie-banner--with-categories',
] %}
{# TEMPLATE #}
{% if privacy_settings_tab_label %}
  <button type="button" class="eu-cookie-withdraw-tab">{{ privacy_settings_tab_label }}</button>
{% endif %}
{% if wrapper|default(0) %}
  {# wingsuit wrapper #}
<div id="sliding-popup" {{ sliding_popup_attributes.addClass('sliding-popup') }}>
  {% endif %}

  <div role="alertdialog" aria-labelledby="popup-text" {{ attributes }}>
    <div {{ popup_content_attributes }}>
      <div id="popup-text" {{ cookiebanner_message_attributes }}>
        {{ pattern('rich_text', {text: message} ) }}
        {% if more_info_button %}
          <button type="button" {{ more_button_attributes }}>
            {{ pattern('rich_text', {text: more_info_button} ) }}
          </button>
        {% endif %}
      </div>

      {% if cookie_categories %}
        <div id="eu-cookie-compliance-categories" {{ cookiebanner_categories_wrapper_attributes }}>
          {% for key, category in cookie_categories %}
            <div {{ cookiebanner_categories_attributes }}>
              {% set input_attributes = create_attribute().setAttribute("type", "checkbox").setAttribute("id", "cookie-category-"~key).setAttribute("cookie-categories", key) %}
              {# Required for eu_cookie_compliance module version > 1.9: #}
              {% if category.checkbox_default_state in ["checked", "required"] %}
                {% set input_attributes = input_attributes.setAttribute("checked", "checked") %}
              {% endif %}
              {% if category.checkbox_default_state == 'required' %}
                {% set input_attributes = input_attributes.setAttribute("disabled", "disabled") %}
              {% endif %}
              {% set checkbox %}
                {{ pattern('form_checkbox', {attributes: input_attributes} ) }}
              {% endset %}
              {{ pattern('form_element',
                {label: category.label,
                  label_display: "after",
                  children: checkbox,
                  attributes: create_attribute().setAttribute("for", "cookie-category-" ~ key).addClass('cursor-pointer').addClass('[&>div>input]:mb-1.5')}
                , 'checkbox'
              ) }}
              {% if category.description %}
                <div {{ category_description_attributes }} >{{ category.description }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div id="popup-buttons" class="mt-6">
        <div {{ popup_buttons_wrapper_attributes }}>
          <div {{ button_preferences_attributes }}>
            {% if save_preferences_button_label %}
              {{ pattern('button', {text: save_preferences_button_label, attributes: create_attribute({"type": "button"}), tag_name: 'button', extra_classes: "eu-cookie-compliance-save-preferences-button"}, 'default' ) }}
            {% endif %}
          </div>
          {% if agree_button %}
            <div {{ button_agree_attributes }}>
              {{ pattern('button', {text: agree_button, attributes: create_attribute({"type": "button"}), tag_name: 'button', extra_classes: primary_button_class|replace({"eu-cookie-compliance-default-button": ""})}, 'default' ) }}
            </div>
          {% endif %}
          {% if decline_button_label %}
            <div {{ button_decline_attributes }}>
              {{ pattern('button', {text: decline_button_label, expanded: 1, size: "medium", attributes: create_attribute({"type": "button"}), tag_name: 'button', extra_classes: decline_button_class}, 'default' ) }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if wrapper|default(0) %}
</div>
{% endif %}
