<div
  x-data="{key: '{{ codes|first.key }}'}"
  class="relative overflow-hidden md:rounded-xl shadow-2xl flex bg-light-blue-500 pb-6 md:pb-0">
  <div class="absolute inset-0 bg-code-500"></div>
  <div class="relative w-full flex flex-col"
  >
    <div class="flex-none h-11 flex items-center px-4">
      <div class="flex space-x-1.5">
        <div class="w-3 h-3 border-2 rounded-full border-red-500"></div>
        <div class="w-3 h-3 border-2 rounded-full border-yellow-500"></div>
        <div class="w-3 h-3 border-2 rounded-full border-green-500"></div>
      </div>
    </div>
    <ul class="flex text-sm bg-code-700" style="transform:translateY(0%) translateZ(0)">
      {%- for code_item in codes -%}
      <li class="flex-none">
        <button type="button"
                @click="key='{{ code_item.key }}'"
                class="border border-transparent py-2 px-4 font-medium focus:outline-none focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-code-700 text-white"
              :class="{'bg-code-500' : key === '{{ code_item.key }}'}">
          {{ code_item.title }}
        </button>
      </li>
      {% endfor %}
    </ul>
    <div class="relative border-t border-white border-opacity-10 min-h-0 flex-auto flex flex-col">
      <div class="hidden md:block absolute inset-y-0 left-0 bg-gray-700" style="width:50px"></div>
      <div class="w-full flex-auto flex min-h-0 overflow-auto">
        {%- for code_item in codes -%}
          <div class="w-full relative flex-auto"
          x-show="key === '{{ code_item.key }}'"
          >
          <pre class="flex text-xs md:text-sm">
            <div class="flex relative block text-white pt-4 pb-4 px-4 overflow-auto js-hightlight-container">
              <code style="padding-top:0 !important;" class="code-block language-{{ code_item.format }}">{{- code_item.code|trim -}}</code>
            </div>
          </pre>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
