{# TODO: Implement pattern-twig.php to use settings method. #}
{# TODO: Check why patttern macro is not used. #}
{% import "@wingsuit/macros/_render.twig" as self %}
{#
  Renders pattern demo page.

  @param string id
    The pattern id.
  @param string patterns
    All available patterns
#}
{% macro pattern_demo(id, patterns, paths) %}

  {% if patterns[id] is not empty %}
    {% set current_pattern = patterns[id] %}

    <h2 class="pl-h2">Default {{ current_pattern.label }}</h2>
    {% if current_pattern.variants is not empty %}
      {% for variant, variant_config in current_pattern.variants %}
        {{ pattern_preview(id, variant) }}
      {% endfor %}
    {% else %}
      {{ pattern_preview(id,'') }}
    {% endif %}
  {% else %}
    No Pattern "{{ id }}" found. Available patterns are:
    {% for key in patterns|keys %}
      {{ key }},
    {% endfor %}
  {% endif %}
{% endmacro %}
