{#
/**
 * @file
 * section
 *
 * See section.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}
{% set variant = variant|default('1_column') %}
{% set region_attributes = region_attributes|default({header: create_attribute()}) %}
{%- set column_1 -%}{%- block column_1 -%}{{ _context['column_1' ] }}{% endblock %}{% endset %}
{%- set column_2 -%}{%- block column_2 -%}{{ _context['column_2' ] }}{% endblock %}{% endset %}
{%- set column_3 -%}{%- block column_3 -%}{{ _context['column_3' ] }}{% endblock %}{% endset %}
{%- set column_4 -%}{%- block column_4 -%}{{ _context['column_4' ] }}{% endblock %}{% endset %}
{%- set column_5 -%}{%- block column_5 -%}{{ _context['column_5' ] }}{% endblock %}{% endset %}

{#
  Classes
#}
{% set header_classes = [
  pattern_configuration('section', variant, 'classes')['header']
  ]|sort|join|trim
%}

{#
  Internal Logic
#}
{%- set header -%}{{ header }}{% endset %}
{% set columns_ary = variant|split('_') %}
{% set columns = columns_ary[0]|number_format %}

{#
  Header template
#}
{% set header %}
  {% if header is not empty and display_header_region == true %}
    <div{{ region_attributes.header.addClass(header_classes) }}>{{ header }}</div>
  {% endif %}
{% endset %}

{#
  Grid template
#}
{% set grid %}
  {% set cells = [] %}
  {%- for i in 1..columns -%}
    {% set cells = cells|merge([_context['column_' ~ i ]]) %}
  {% endfor %}
  {{ pattern('grid', {
    attributes: create_attribute(),
    cells: cells,
    layout: layout,
    region_attributes: region_attributes,
    gutter: gutter,
    equal_height: equal_height
  }, variant) }}
{% endset %}

{#
  Template
#}
{{ pattern('container', {
  attributes: attributes,
  content: grid,
  width: width,
  padding_x: padding_x,
  padding_top: padding_top,
  padding_bottom: padding_bottom,
  bg: bg,
  header: header,
  region_attributes: region_attributes,
  display_header_region: display_header_region,
  bg_image: bg_image
}) }}

