{# SETTINGS #}
{% set scale = scale|default(1) %}
{% set margin = padding|default(1)|number_format * scale|number_format %}
{% set fill_color = fill_color|default('fill-current') %}

{% set wrapper_classes = ([
    'aspect-[1/1]',
    padding != '' ? 'flex items-center ' ~ padding,
] | sort | join(' ') | trim) %}

{% set classes = ([
  'svg w-full h-full',
  fill_color,
  color,
] | sort | join(' ') | trim )%}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{# TEMPLATE #}
<div class="{{ wrapper_classes }}" style="height: {{ scale }}rem; margin: {{ margin }}rem; ">
    <svg {{ attributes }}>
        <use xlink:href="{{ file_url('ws-assets://images/spritemap.svg') }}#{{ icon }}"></use>
    </svg>
</div>
