{# SETTINGS #}
{% set scale = scale|default(1) %}
{% set padding = pattern_configuration('icon', 'spritemap', 'padding')[padding|default('square')] %}
{% set wrapper_classes = ([
  padding != '' ? 'flex items-center aspect-[1/1] ' ~ padding,
] | sort | join(' ') | trim) %}
  {%
 set classes = ([
  'svg w-full h-full',
  fill_color,
  color,
] | sort | join(' ') | trim )%}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{% if presentation == '1' %}
  {% set attributes = attributes.setAttribute('role', 'presentation') %}
{% endif %}

{# TEMPLATE #}
<div class="{{ wrapper_classes }}" style="height: {{ scale }}rem">
  <svg {{ attributes }}>
      <use xlink:href="{{ file_url('ws-assets://images/spritemap.svg') }}#{{ icon }}"></use>
  </svg>
</div>
