{#
  Attributes
#}
{% set classes = pattern_configuration('menu', variant, 'footer')['classes'] %}
{% set first_ul_attributes = create_attribute().addClass(classes['first_ul']) %}
{% set first_li_attributes = create_attribute().addClass(classes['first_li']) %}
{% set first_a_attributes = create_attribute().addClass(classes['first_a']) %}
{% set descendant_ul_attributes = create_attribute().addClass(classes['descendant_ul']) %}
{% set descendant_li_attributes = create_attribute().addClass(classes['descendant_li']) %}
{% set descendant_a_attributes = create_attribute().addClass(classes['descendant_a']) %}

{#
  Template
#}
{% set cells = [] %}
{% for item in items %}
  {% set cell %}
    <ul role="menu" {{ first_ul_attributes }}>
      <li role="none" {{ first_li_attributes }}>
        {# -- Main parent item w/o link  -- #}
        <a href="#" {{ first_a_attributes }}>
          {{ item.title }}
        </a>

        {# -- Child items -- #}
        {% if item.below %}
          <ul role="menu" {{ descendant_ul_attributes }}>
            {% for child in item.below %}
              <li role="none" {{ descendant_li_attributes }}>
                <a href="{{ child.url }}" {{ descendant_a_attributes }}>
                  {{ child.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    </ul>
  {% endset %}
  {% set cells = cells|merge([cell]) %}
{% endfor %}

<nav aria-label="footer">
  {{ pattern('grid', {cells:cells}, 'column_' ~ cells|length ) }}
</nav>
